@import "font.css";

:root[data-color-scheme="light"] {
    --primary-1: rgb(243 236 243); /* 300°, 23%, 94% */
    --primary-2: rgb(231 218 231); /* 300°, 21%, 88% */
    --primary-3: rgb(220 203 220); /* 300°, 20%, 83% */
    --primary-4: rgb(190 157 190); /* 300°, 20%, 68% */
    --primary-5: rgb(177 137 177); /* 300°, 20%, 62% */

    --red: rgb(248 113 113);
}

:root[data-color-scheme="dark"] {
    --primary-1: rgb(19 12 19); /* 300°, 23%, 6% */
    --primary-2: rgb(37 24 37); /* 300°, 21%, 12% */
    --primary-3: rgb(52 35 52); /* 300°, 20%, 17% */
    --primary-4: rgb(98 65 98); /* 300°, 20%, 32% */
    --primary-5: rgb(116 78 116); /* 300°, 20%, 38% */

    --red: rgb(234 83 85);
}

.simplebar-scrollbar::before {
    background-color: var(--primary-5);
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(240 240 240);
}

html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    font-family: Suit, Tossface, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    font-size: 16px;
}

@media (max-width: 375px) {
    html[data-os-name="Android"],
    html[data-os-name="iOS"] {
        font-size: 15px;
    }
}

@media (max-width: 320px) {
    html[data-os-name="Android"],
    html[data-os-name="iOS"] {
        font-size: 14px;
    }
}

[data-draggable] {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

[data-draggable="text"] {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(231, 218, 231);
    scroll-behavior: auto;
}

@media (min-width: 768px) {
    .container {
        padding: 3rem 0;
    }

    .container > div {
        border-radius: 1.5rem;
    }

    .item-intro {
        height: calc(100vh - 3rem) !important;
    }
}

#particle {
    position: relative;
    overflow: hidden;
}

#particle > canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

#particle .background {
    position: relative;
    z-index: 0;
}

.container > div {
    overflow: hidden;
    margin: 0 auto;
    min-height: 100vh;
    background: white;
    max-width: 28rem;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.1) 0 8px 10px -6px;
}

.item-intro {
    height: 100vh;
    position: relative;
}

.item-intro canvas#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
}

.item-intro .background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    overflow: hidden;
}

.item-intro .background img {
    min-width: 28rem;
    height: 100%;
    object-fit: cover;
}

.item-container {
    text-align: center;
    font-size: 0.95rem;
    line-height: 1.5rem;
    word-break: keep-all;
    text-wrap: pretty;
    display: flex;
    row-gap: .5rem;
    flex-direction: column;
    justify-content: center;
    background: rgb(255, 255, 255);
}

.item-container:nth-child(n + 2) {
    padding-top: 3rem;
}

.item-container:last-child {
    padding-bottom: 6rem;
}

.item-bg-dark {
    background: rgb(248, 248, 248);
    padding: 3rem 0;
}


.item-bg-primary {
    background: rgb(243 236 243);
    padding: 3rem 0;
}
.item-container .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-container .item-title {
    font-family: Raleway, serif;
    font-weight: 200;
    font-size: 2.25rem;
    text-transform: uppercase;
    line-height: 2.5rem;
    letter-spacing: -.025em;
    color: rgb(17, 17, 17);
    opacity: 1;
    margin-bottom: 3rem;
    padding: 0 2rem;
    gap: 1rem;
}

.item-container .item-title svg {
    width: 2.5rem;
    height: 2.5rem;
}

.item-container .item-subtitle {
    color: rgb(17, 17, 17);
    opacity: .9;
    padding: 0 2rem;
    gap: .75rem;
}

.item-container .item-subtitle svg {
    width: 1.2rem;
    height: 1.2rem;
}

.item-container .item-content {
    color: rgb(85, 85, 85);
    opacity: .9;
    padding: 0 2rem;
    line-height: 1.8rem;
    gap: .75rem;
}

.item-container .item-content svg {
    width: 1.2rem;
    height: 1.2rem;
}

.item-container .item-description {
    color: rgb(68, 68, 68);
    opacity: .5;
    padding: 0 2rem;
    gap: .75rem;
}

.item-container .item-description svg {
    width: 1.2rem;
    height: 1.2rem;
}

.item-container .item-description2 {
    color: rgb(17, 17, 17);
    font-size: .8rem;
    padding: 0 2rem;
    gap: .675rem;
}

.item-container .item-description2 svg {
    width: 1.125rem;
    height: 1.125rem;
}

.item-button {
    border: 0;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.1) 0 4px 6px -4px;
    margin: 0 2rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: .5rem;
    background: rgb(190, 157, 190);
    color: white;
    font-weight: 500;
}

.item-button > svg {
    filter: invert(1);
}

.item-countdown {
    display: flex;
    justify-content: center;
    column-gap: .5rem;
    padding: 0 2rem;
}

.item-countdown > div {
    background: rgb(255, 255, 255);
    border-radius: .5rem;
    padding: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.1) 0 4px 6px -4px;
    flex: 1;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 200;
    display: flex;
    flex-direction: column;
}

.item-countdown > div::after {
    font-weight: 200;
    font-size: 0.7rem;
    letter-spacing: .0125rem;
    opacity: .5;
}

.item-countdown > div:nth-child(1)::after {
    content: 'DAYS';
}

.item-countdown > div:nth-child(2)::after {
    content: 'HOURS';
}

.item-countdown > div:nth-child(3)::after {
    content: 'MINUTES';
}

.item-countdown > div:nth-child(4)::after {
    content: 'SECONDS';
}

.item-countdown #remain-date {
    color: rgb(177, 137, 177);
}

.driver {
    height: 1px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(226, 232, 240, 1) 5%, rgba(226, 232, 240, 1) 95%, rgba(0, 0, 0, 0) 100%);
    margin: 3rem 2rem;
    position: relative;
}

.driver.item-bg-dark {
    margin: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0) 100%);
}

.driver.shiny {
    background: rgba(226, 232, 240, 1);
}

.driver.shiny.item-bg-dark {
    background: rgba(248, 248, 248, 1);
}

.driver.shiny::after {
    content: "✦";
    font-size: 0.75rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 70%, rgba(0, 0, 0, 0) 100%);
    padding: 0 2.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(226, 232, 240);
}

.driver.shiny.item-bg-dark::before {
    height: 1px;
    content: '';
    position: absolute;
    top: 50%;
    background: rgb(120 120 120);
    width: calc(100% - 4rem);
    margin: 0 2rem;
}

.driver.shiny.item-bg-dark::after {
    content: "✦";
    font-size: 0.75rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(248, 248, 248, 1) 30%, rgba(248, 248, 248, 1) 70%, rgba(0, 0, 0, 0) 100%);
    padding: 0 2.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(120 120 120);
}

.driver.shiny + .item-container {
    padding-top: 0;
}

.padding {
    opacity: 0;
}

.padding.rem-half {
    height: .5rem;
}

.padding.rem1 {
    height: 1rem;
}

.padding.rem2 {
    height: 2rem;
}

.padding.rem3 {
    height: 3rem;
}

.padding.rem4 {
    height: 4rem;
}

.padding.rem5 {
    height: 5rem;
}

.image-padding {
    width: 2.5rem;
}

.item-weather {
    display: none;
    flex-direction: column;
}

.item-weather.show {
    display: flex;
    flex-direction: column;
}

.item-weather .weather-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.item-weather .weather-container .weather-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(48px + 3rem);
}

.item-weather .weather-container .weather-icon #icon {
    display: flex;
    align-items: center;
    font-size: 48px;
    height: 48px;
    filter: drop-shadow(2px 2px 0 rgb(0, 0, 0));
}

.item-weather .weather-container .weather-icon #detail {
    font-size: .6rem;
    font-weight: 600;
    color: rgb(177 177 177);
}

.item-weather .weather-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(48px + 3rem);
}

.item-weather .weather-primary #temperature {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.item-weather .weather-primary #apparent-temperature,
.item-weather .weather-primary #precipitation-probability {
    display: flex;
    align-items: center;
    font-size: .7rem;
    color: rgb(78 78 78);
    height: 1rem;
}

.item-weather .weather-primary div#apparent-temperature::before {
    content: "체감온도";
    margin-right: .75rem;
}

.item-weather .weather-primary #precipitation-probability::before {
    content: "강수확률";
    margin-right: .75rem;
}

.item-weather #weather-date {
    font-size: .75rem;
    font-weight: 600;
    color: rgb(71 71 71);
}

.item-calendar {
    font-weight: 200;
    padding: 0 2rem;
}

.item-calendar > div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0;
}

.item-calendar > div > div {
    padding: 0.5rem 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-calendar > div > div > p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    aspect-ratio: 1 / 1;
    width: 2rem;
    height: 2rem;
}

.item-calendar > div > div#target > p {
    background: rgb(170, 125, 170);
    color: white;
    border-radius: 50%;
    font-weight: 400;
}

.item-calendar > div > div:nth-child(7n) {
    color: rgb(128, 128, 128);
}

.item-calendar > div > div:nth-child(7n + 1) {
    color: rgb(255, 128, 128);
}

#remain-date {
    color: rgb(170, 125, 170);
}

.item-carousel {

}

.item-carousel-arrows {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    color: rgb(85, 85, 85);
}

.item-carousel-arrows button {
    color: rgb(0, 0, 0);
    width: 5rem;
    background: transparent;
    border: none;
}

.item-carousel img {
    width: 100%;
}

/* KAKAO MAP CUSTOM BEGIN */
.item-location .map {
    width: 100% !important;
}

[data-fullscreen="route"] .item-location .map .wrap_map {
    pointer-events: unset !important;
}

.item-location .map .wrap_btn_zoom,
.item-location .map .wrap_controllers {
    display: none !important;
}

.item-location .map img[role="presentation"] {
    filter: invert(0%) sepia(1600%) saturate(200%) hue-rotate(280deg) brightness(120%) contrast(105%) grayscale(0.4);
}

.item-location .map .cont .section {
    margin: 0 2rem;
}

/* KAKAO MAP CUSTOM END */

.item-park {
    margin: -0.5rem 2rem 0 2rem;
    padding: 20px 0 0;
    border-top: 1px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-park > strong {
    font-size: 14px;
    color: #222;
    display: block;
    line-height: 17px;
    margin-bottom: 8px;
}

.item-park .park-container {
    margin: 8px 0 16px 8px;
    font-size: 12px;
    color: #222;
    float: left;
    line-height: 16px;
    text-align: left;
    width: 100%;
}

.item-park .park-container:first-child {
    margin-top: 0;
}

[data-os-name="Windows"] .item-park .park-container,
[data-os-name="MacOS"] .item-park .park-container {
    font-size: 13px;
}

.item-park .park-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.item-park .park-header strong {
    font-size: 13px;
    font-family: AppleSDGothicNeo-Regular, dotum, sans-serif;
    color: #222;
    display: block;
    line-height: 17px;
}

[data-os-name="Windows"] .item-park .park-header strong,
[data-os-name="MacOS"] .item-park .park-header strong {
    font-size: 14px;
}

.item-park .park-container .park-title {
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px 10px -8px;
}

.item-park .park-container .park-title .park-button {
    display: none;
    background: rgb(225, 209, 225);
    padding: 4px 10px;
    border-radius: 10px;
    border: 0;
    font-size: 11px;
    font-weight: 600;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    white-space: nowrap;
}

[data-os-name="Windows"] .item-park .park-container .park-title .park-button,
[data-os-name="MacOS"] .item-park .park-container .park-title .park-button {
    font-size: 11px;
}

.item-park .park-container .park-title .park-button::after {
    color: black !important;
    content: '여기로 안내하기';
}

.item-park .park-container .park-title .park-button.selected {
    opacity: .75;
    background: rgb(248 248 248);
}

.item-park .park-container .park-title .park-button.selected::after {
    content: '여기로 안내중';
}

.item-container:has([data-method="car"]) .park-button {
    display: block !important;
}

.item-park .park-container span {
    margin: 0 0 0 8px;
    font-size: 11px;
    color: #222;
    opacity: .8;
}

.item-park .park-container:last-child {
    margin: 8px 0 0 8px;
}

.item-park .park-container p {
    margin: 0 8px 0 0;
    font-size: 10px;
    opacity: .75;
}

[data-os-name="Windows"] .item-park .park-container p,
[data-os-name="MacOS"] .item-park .park-container p {
    font-size: 11px;
}

.item-park .park-container p:first-of-type {
    margin-top: 2px;
}

/* ACCORDION BEGIN */
[data-accordion] {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s linear !important;
}

[data-accordion].no-transition {
    max-height: 0;
    overflow: hidden;
    transition: unset !important;
}

[data-accordion] * {
    opacity: 0;
    transition: opacity 0s;
    transition-delay: 0.2s;
    pointer-events: none;
}

[data-accordion].no-transition * {
    transition: unset !important;
}

[data-accordion-header],
[data-accordion-header] *,
[data-accordion-toggle],
[data-accordion-toggle] *,
[data-accordion].on * {
    opacity: unset;
    transition: unset;
    transition-delay: unset;
    pointer-events: unset;
}

[data-accordion-toggle] {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    transition: transform 0.2s linear !important;
}

[data-accordion-toggle].on {
    transform: rotate(270deg);
    opacity: unset;
}

[data-accordion-toggle]::after {
    content: '>';
    font-size: 24px;
    font-weight: 300;
    color: rgb(153 153 153);
    font-family: Suit, Tossface, sans-serif;
}

.item-accordion {
    margin: 0 2rem;
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    background: rgb(243, 237, 243);
}

.item-accordion [data-accordion-header] {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    background: rgb(255 255 255);
    border-radius: 4px;
    align-items: center;
    font-weight: 500;
    font-size: .875rem;
}

.item-accordion [data-accordion-toggle]:after {
    font-size: 1.2rem;
}

.item-accordion[data-accordion].on [data-accordion-header] {
    border-radius: 4px 4px 0 0;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.05) 0 1px 2px 0;
}

.item-accordion .accordion-content {
    padding: 1rem .75rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.item-accordion .accordion-content > div {
    background: rgb(255 255 255);
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.1) 0 4px 6px -4px;
    padding: 1.5rem;
    border-radius: 4px;
}

.item-accordion .accordion-content .info-title {
    display: flex;
    justify-content: space-between;
    font-size: .75rem;
}

.item-accordion .accordion-content .info-subtitle {
    display: flex;
    justify-content: space-between;
    font-size: .75rem;
    background: rgb(240 240 240);
    padding: .5rem 1rem;
    margin: 1rem 0;
    border-radius: 6px;
    font-weight: 500;
}

.item-accordion .accordion-content .info-buttons {
    width: 100%;
    margin: 1rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.item-accordion .accordion-content .info-buttons .info-icon-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    height: 2.125rem;
    background: rgb(190 157 190);
    border-radius: 6px;
    border: 0;
    font-size: .75rem;
    font-weight: 500;
    color: rgb(255 255 255);
}

.item-accordion .accordion-content .info-buttons .info-icon-button::before {
}

.item-accordion .accordion-content .info-buttons .info-icon-button[data-messenger-type="tel"]::before {
    content: "전화하기";
}

.item-accordion .accordion-content .info-buttons .info-icon-button[data-messenger-type="sms"]::before {
    content: "문자 보내기";
}

.item-accordion .accordion-content .info-buttons .info-icon-button[data-bank-type="copy"]::before {
    content: "복사하기";
}

.item-accordion .accordion-content .info-buttons .info-text-button {
    padding: .333rem;
    border: 0;
    color: rgb(0 0 0);
    background: none;
    font-size: .75rem;
    font-weight: 600;
}

.item-accordion .accordion-content .info-buttons .info-icon-bank-buttons {
    display: flex;
    gap: 1rem;
}

.item-accordion .accordion-content .info-buttons .info-icon-bank-buttons .info-icon-button {
    padding: .375rem;
    width: 2.125rem;
    height: 2.125rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
 }

.item-accordion .accordion-content .info-buttons .info-icon-bank-buttons .info-icon-button[data-bank-type="toss"] {
    background-color: rgb(255, 255, 255);
    background-image: url("../assets/images/icon/icon_toss.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}

.item-accordion .accordion-content .info-buttons .info-icon-bank-buttons .info-icon-button[data-bank-type="kakao"] {
    background-color: rgb(254, 229, 0);
    background-image: url("../assets/images/icon/icon_kakaotalk.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}

.item-accordion .accordion-content .info-buttons .info-icon-bank-buttons .info-icon-button {
}

.item-accordion .accordion-content .info-buttons button svg {
    width: 1rem;
    height: 1rem;
    margin-bottom: 0.1rem;
}
/* ACCORDION END */

.button-list {
    display: grid;
    gap: 1rem;
    padding: 1rem 2rem;
}

.item-routes {
    height: 19rem;
}

.button-grid {
    display: grid;
    padding: 1rem 2rem;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 380px) {
    .item-routes {
        height: 10rem;
    }

    .button-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 500px) {
    .item-routes {
        height: 7rem;
    }

    .button-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.button-grid .button {
    justify-content: space-between;
}

.button-list .button {
    justify-content: center;
}

.button {
    font-family: Suit, Tossface, sans-serif;
    display: flex;
    height: 2rem;
    padding: 0 1rem 0 .5rem;
    font-size: .75rem;
    font-weight: 600;
    border-radius: .25rem;
    align-items: center;
    gap: 1rem;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.1) 0 4px 6px -4px;
    border: 0;
}

.button > img {
    width: 1.2rem;
    height: 1.2rem;
}

.button[data-map-type="t-map"],
.button[data-map-type="google-map"] {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.button[data-map-type="naver-map"] {
    background: rgb(0, 209, 54);
    color: rgb(0, 0, 0);
}

.button[data-map-type="kakao-map"],
.button[data-map-type="kakao-navi"] {
    background: rgb(250, 225, 0);
    color: rgb(0, 0, 0);
}

.button[data-map-type="kakao-talkcalendar"] {
    background: rgb(254, 229, 0);
    color: rgb(0, 0, 0);
}

.button[data-map-type="apple-map"],
.button[data-map-type="uber-taxi"] {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/* BY OS */
[data-os-name="MacOS"] [data-map-type="t-map"],
[data-os-name="Windows"] [data-map-type="t-map"],
[data-os-name="MacOS"] [data-map-type="kakao-navi"],
[data-os-name="Windows"] [data-map-type="kakao-navi"],
[data-os-name="Android"] [data-map-type="apple-map"],
[data-os-name="Windows"] [data-map-type="apple-map"],
    /* BY METHOD */
[data-method="car"] [data-map-type="uber-taxi"],
[data-method="transit"] [data-map-type="t-map"],
[data-method="transit"] [data-map-type="kakao-navi"],
[data-method="walk"] [data-map-type="t-map"],
[data-method="walk"] [data-map-type="kakao-navi"],
[data-method="walk"] [data-map-type="uber-taxi"] {
    display: none;
}

/* ALERT BEGIN */
[data-alert-id] {
    padding: 1rem;
    margin: .5rem;
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.1) 0 4px 6px -4px;
    border-radius: .5rem;
    max-width: calc(100% - 3rem);
    overflow: hidden;
    text-overflow: ellipsis;
}

[data-alert-id] .title {
    color: rgb(17, 17, 17);
    opacity: .9;
    font-size: .85rem;
}

[data-alert-id] .description {
    color: rgb(68, 68, 68);
    opacity: .5;
    font-size: .85rem;
}
/* ALERT END */

/* MODAL BEGIN */
[data-modal-id] {
    visibility: hidden;
    background: rgba(0, 0, 0, .75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: pretty;
    row-gap: .5rem;
    flex-direction: column;
}

[data-modal-id].show {
    visibility: visible;
}

[data-modal-id] .modal-header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgb(245, 245, 245);
    border-radius: .5rem .5rem 0 0;
    transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
}

[data-modal-id] .modal-header .driver {
    transition: opacity 0.3s cubic-bezier(.25, .8, .25, 1);
}

[data-modal-id]:not([data-scroll-y="0"]) .modal-header {
    box-shadow: rgba(0, 0, 0, 0.125) 0 0 30px;
    overflow: hidden;
}

[data-modal-id]:not([data-scroll-y="0"]) .modal-header .driver {
    opacity: 0;
}

[data-modal-id]:not([data-scroll-y]) .modal-header {
    box-shadow: unset;
    overflow: visible;
}

[data-modal-id]:not([data-scroll-y]) .modal-header .driver {
    opacity: 1;
}

[data-modal-id] .modal-content {
    padding: 1.25rem 0;
}

[data-modal-id] > div {
    opacity: 0;
    max-width: 28rem;
    min-width: 20rem;
    width: calc(100% - 4rem);
    max-height: calc(100% - 6rem);
    background: rgb(245, 245, 245);
    border-radius: .5rem;
    position: relative;
    margin: 2rem;
    transition: opacity 0.2s linear;
    overflow-y: visible;
}

[data-modal-id].show > div {
    opacity: 1;
}

[data-modal-id] .modal-close {
    font-size: 1.5rem;
    position: absolute;
    top: .5rem;
    right: .5rem;
    border: 0;
    background: 0;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

[data-modal-id] .modal-close::after {
    content: '×';
}

[data-modal-id] .driver {
    margin: 0;
    background: unset;
}

[data-modal-id] .driver::after {
    content: "•  •  •  •  •  •  •";
    color: rgb(198, 204, 212);
    background: unset;
    padding: 0;
    width: fit-content;
    white-space: nowrap;
    margin-top: 1px;
}

[data-modal-id] .driver::before {
    content: "•  •  •  •  •  •  •";
    font-size: .75rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgba(0, 0, 0, 0);
    background: linear-gradient(90deg, rgba(245, 245, 245, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(245, 245, 245, 1) 100%);
    width: fit-content;
    white-space: nowrap;
    margin-top: 1px;
}

body:has([data-modal-id].show) {
    overflow: hidden;
}

[data-modal-id] .title {
    font-size: 1.5rem;
    color: rgb(17, 17, 17);
    opacity: .9;
    padding: 1.25rem 0;
}

[data-modal-id] .subtitle {
    color: rgb(17, 17, 17);
    opacity: .9;
    padding: 0 2rem;
    font-size: .85rem;
}

[data-modal-id] .description {
    color: rgb(68, 68, 68);
    opacity: .5;
    padding: 0 2rem;
    font-size: .85rem;
}
/* MODAL END */

/* FULLSCREEN BEGIN */
[data-fullscreen] {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    left: 0;
    top: 0;
    overflow-y: scroll;
    display: none;
}

[data-fullscreen].show {
    display: block;
}

[data-fullscreen="carousel"].show {
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-fullscreen="carousel"] .item-carousel {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-evenly;
}

body:has([data-fullscreen].show),
body:has([data-loader="true"]) {
    overflow: hidden;
}

body:has([data-fullscreen].show) .container {
    display: none;
}
/* FULLSCREEN END */

/* SELECTOR BEGIN */
ul[data-selector] {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    margin: 0 2rem;
    border-radius: 4px;
    background: rgb(248, 248, 248);
    color: rgb(68, 68, 68);
    font-size: .75rem;
}

ul[data-selector] li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    position: relative;
    border-radius: 4px;
    padding: .25rem 0;
    opacity: .75;
    transition: background 0.2s ,color 0.2s ,border-color 0.2s ,outline-color 0.2s ,box-shadow 0.2s;
}

ul[data-selector] li svg {
    width: .8rem;
    height: .8rem;
}

ul[data-selector] li.selected {
    background: rgb(225, 209, 225);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    font-weight: 600;
    opacity: 1;
}
/* SELECTOR END */

/* LOADER BEGIN */
[data-loader] {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 2147000000;
    top: 0;
    left: 0;
}

[data-loader="true"] {
    display: flex;
}

[data-loader="true"]::after {
    content: ' ';
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid rgb(255, 255, 255);
    animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }
    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }
    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }
    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }
    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes l20-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }
    49.99% {
        transform: scaleY(1) rotate(135deg)
    }
    50% {
        transform: scaleY(-1) rotate(0deg)
    }
    100% {
        transform: scaleY(-1) rotate(-135deg)
    }
}
/* LOADER END */

/* CAROUSEL BEGIN */
[data-carousel] {
    max-width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

[data-carousel] li {
    text-align: center;
    width: 80%;
}
/* CAROUSEL END */

/* TOAST BEGIN */
[data-toast-container] {
    z-index: 99999;
    position: fixed;
    bottom: 6.25rem;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    perspective: 1200px;
    width: 26rem;
    max-width: calc(100vw - 2rem);
}

[data-toast-container] > div {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    padding: 1.2rem 1rem;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap: 0.675rem;
    font-size: 0.75rem;
    font-weight: 500;
    opacity: 0;
    transform: translateY(60px) scale(1) translateZ(0);
    transition: opacity 300ms ease, transform 500ms ease;
    pointer-events: auto;
    line-height: 1.125rem;
}

[data-toast-container] > div[data-type]::before {
    font-size: 0.65rem;
    font-weight: 900;
    width: 1.125rem;
    height: 1.125rem;
    background: rgb(0 0 0);
    color: rgb(255 255 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

[data-toast-container] > div[data-type="success"]::before {
    content: "✓";
}

[data-toast-container] > div[data-type="warning"]::before {
    content: "!";
}

[data-toast-container] > div[data-type="error"]::before {
    content: "×";
}

[data-toast-container] > div.show {
    opacity: 1;
    transform: translateY(0) scale(1) translateZ(0);
}
/* TOAST END */

/* FLOATING BEGIN */
[data-floating] {
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.1) 0 4px 6px -4px;
    background: rgb(255 255 255);
    transform: translate(-50%, 5rem);
    position: fixed;
    width: 18rem;
    height: 3rem;
    left: 50%;
    bottom: 1.5rem;
    opacity: .8;
    color: rgb(68 68 68);
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    padding: 0 1.25rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.5s ease;
}

[data-scroll-y] [data-floating] {
    transform: translate(-50%, 0);
}

[data-scroll-y="0"] [data-floating] {
    transform: translate(-50%, 5rem);
}

[data-floating] span {
    position: relative;
    flex: 1;
}

[data-floating] span:nth-child(n + 2)::before {
    content: '|';
    position: absolute;
    left: -2px;
    font-size: 1.25rem;
    font-weight: 100;
    opacity: .6;
}

.item-guestbook-container {
    position: relative;
}

.item-guestbook {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.item-guestbook > div {
    width: 60%;
    position: relative;
    pointer-events: none;
}

.item-guestbook > div > img {
    width: 100%;
}

.item-guestbook .content-container {
    font-family: NanumGonsin, Tossface, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(60 60 60);
    letter-spacing: .075rem;
    position: absolute;
    top: 25%;
    left: 10%;
    width: 80%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-guestbook .content-container button {
    background: none;
    border: 0;
    position: absolute;
    right: 0;
    top: -20px;
    color: rgb(200 200 200);
    pointer-events: all;
}

.item-guestbook .writer-container {
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    opacity: .6;
}

.item-guestbook .writer::before {
    content: 'From ';
}

.guestbook-show-more-mask {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(243, 236, 243, 1) 100%);
    position: absolute;
    width: 100%;
    height: 6rem;
    bottom: -.5rem;
}

.write-guestbook-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
}

.write-guestbook-container input,
.write-guestbook-container textarea,
.write-guestbook-container button {
    width: 100%;
    border: 0;
    padding: .5rem .75rem;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
    border-radius: 6px;
    font-size: .75rem;
    line-height: 1.25rem;
    resize: none;
    font-family: unset;
    outline: none;
}

.write-guestbook-container textarea {
    min-height: 10rem;
}

.write-guestbook-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: rgb(190, 157, 190);
    color: white;
    font-weight: 500;
}
