@import "font.css";

html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: auto;
    font-family: Tossface, Suit, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(231, 218, 231);
    scroll-behavior: auto;
}

@media (min-width: 768px) {
    .container {
        padding: 3rem 0;
    }

    .container > div {
        border-radius: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .item-intro {
        height: calc(100vh - 3rem) !important;
    }
}

#particle {
    position: relative;
    overflow: hidden;
}

#particle > canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

#particle .background {
    position: relative;
    z-index: 0;
}

.container > div {
    overflow: hidden;
    margin: 0 auto;
    min-height: 100vh;
    background: white;
    max-width: 28rem;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.1) 0 8px 10px -6px;
}

.item-intro {
    height: 100vh;
}

.item-intro .background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    overflow: hidden;
}

.item-intro .background img {
    min-width: 28rem;
    height: 100%;
    object-fit: cover;
}

.item-container {
    text-align: center;
    font-size: 0.95rem;
    line-height: 1.5rem;
    word-break: keep-all;
    text-wrap: pretty;
    display: flex;
    row-gap: .5rem;
    flex-direction: column;
    background: rgb(255, 255, 255);
}

.item-container[data-transaction] {
    opacity: 0;
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    transform: translateY(30px);
}

.item-container[data-transaction].show {
    opacity: 1;
    transform: translateY(0);
}

.item-container:nth-child(n + 2) {
    padding-top: 3rem;
}

.item-bg-dark {
    background: rgb(248, 248, 248);
    padding: 3rem 0;
}

.item-container .item-title {
    font-family: Raleway, serif;
    font-weight: 200;
    font-size: 2.25rem;
    text-transform: uppercase;
    line-height: 2.5rem;
    letter-spacing: -.025em;
    color: rgb(17, 17, 17);
    opacity: 1;

    translate: none;
    rotate: none;
    scale: none;
    margin-bottom: 3rem;
    padding: 0 2rem;
}

.item-container .item-alert-title {
    font-size: 1.5rem;
    color: rgb(17, 17, 17);
    opacity: .9;
    padding: 1.25rem 0;
}

.item-container .item-subtitle {
    color: rgb(17, 17, 17);
    opacity: .9;
    padding: 0 2rem;
}

.item-container .item-alert-subtitle {
    color: rgb(17, 17, 17);
    opacity: .9;
    padding: 0 2rem;
    font-size: .85rem;
}

.item-container .item-content {
    color: rgb(85, 85, 85);
    opacity: .9;
    padding: 0 2rem;
}

.item-container .item-description {
    color: rgb(68, 68, 68);
    opacity: .5;
    padding: 0 2rem;
}

.item-container .item-alert-description {
    color: rgb(68, 68, 68);
    opacity: .5;
    padding: 0 2rem;
    font-size: .85rem;
}

.item-container .item-description2 {
    color: rgb(17, 17, 17);
    font-size: .8rem;
    padding: 0 2rem;
}

.item-container > .item-button {
    border: 0;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.1) 0 4px 6px -4px;
    margin: 0 2rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: .5rem;
    background: rgb(190, 157, 190);
    color: white;
    font-weight: 500;
}

.item-container > .item-button > svg {
    filter: invert(1);
}

.item-countdown {
    display: flex;
    justify-content: center;
    column-gap: .5rem;
    padding: 0 2rem;
}

.item-countdown > div {
    background: rgb(255, 255, 255);
    border-radius: .5rem;
    padding: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.1) 0 4px 6px -4px;
    flex: 1;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 200;
    display: flex;
    flex-direction: column;
}

.item-countdown > div::after {
    font-weight: 200;
    font-size: 0.7rem;
    letter-spacing: .0125rem;
    opacity: .5;
}

.item-countdown > div:nth-child(1)::after {
    content: 'DAYS';
}

.item-countdown > div:nth-child(2)::after {
    content: 'HOURS';
}

.item-countdown > div:nth-child(3)::after {
    content: 'MINUTES';
}

.item-countdown > div:nth-child(4)::after {
    content: 'SECONDS';
}

.item-countdown #remain-date {
    color: rgb(177, 137, 177);
}

.driver {
    height: 1px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(226, 232, 240, 1) 5%, rgba(226, 232, 240, 1) 95%, rgba(0, 0, 0, 0) 100%);
    margin: 3rem 2rem;
    position: relative;
}

.driver.shiny {
    background: rgba(226, 232, 240, 1);
}

.driver.shiny::after {
    content: "✦";
    font-size: 0.75rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 70%, rgba(0, 0, 0, 0) 100%);
    padding: 0 2.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(226, 232, 240);
}

.driver.shiny + .item-container {
    padding-top: 0;
}

.padding {
    opacity: 0;
}

.padding.rem1 {
    height: 1rem;
}

.padding.rem2 {
    height: 2rem;
}

.padding.rem3 {
    height: 3rem;
}

.item-calendar {
    font-weight: 200;
    padding: 0 2rem;
}

.item-calendar > div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0;
}

.item-calendar > div > div {
    padding: 0.5rem 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-calendar > div > div > p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    aspect-ratio: 1 / 1;
    width: 2rem;
    height: 2rem;
}

.item-calendar > div > div#target > p {
    background: rgb(231, 218, 231);
    color: white;
    border-radius: 50%;
    font-weight: 400;
}

.item-calendar > div > div:nth-child(7n) {
    color: rgb(128, 128, 128);
}

.item-calendar > div > div:nth-child(7n + 1) {
    color: rgb(255, 128, 128);
}

.item-carousel {

}

.item-carousel-arrows {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    color: rgb(85, 85, 85);
}

.item-carousel-arrows button {
    color: rgb(0, 0, 0);
    width: 5rem;
    background: transparent;
    border: none;
}

.item-carousel img {
    width: 100%;
}

.item-location .map {
    width: 100% !important;
    pointer-events: none !important;
}

.item-location .map .wrap_btn_zoom,
.item-location .map .wrap_controllers {
    display: none !important;
}

.item-location .map img[role="presentation"] {
    filter: invert(0%) sepia(1600%) saturate(200%) hue-rotate(280deg) brightness(120%) contrast(105%) grayscale(0.4);
}

.item-location .map .cont .section {
    margin: 0 2rem;
}

.item-navigation {
    display: grid;
    padding: 1rem 2rem;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 380px) {
    .item-navigation {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 500px) {
    .item-navigation {
        grid-template-columns: repeat(3, 1fr);
    }
}

.item-navigation > button {
    display: flex;
    height: 2rem;
    padding: 0 1rem 0 .5rem;
    font-size: .75rem;
    font-weight: 600;
    border-radius: .25rem;
    align-items: center;
    gap: 1rem;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.1) 0 4px 6px -4px;
    justify-content: space-between;
    border: 0;
}

.item-navigation > button[data-map-type="t-map"],
.item-navigation > button[data-map-type="google-map"] {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.item-navigation > button[data-map-type="naver-map"] {
    background: rgb(0, 209, 54);
    color: rgb(0, 0, 0);
}

.item-navigation > button[data-map-type="kakao-map"],
.item-navigation > button[data-map-type="kakao-navi"] {
    background: rgb(250, 225, 0);
    color: rgb(0, 0, 0);
}

.item-navigation > button[data-map-type="apple-map"] {
    background: rgb(22, 22, 23);
    color: rgb(255, 255, 255);
}

body[data-os-name="MacOS"] .item-navigation > button[data-map-type="t-map"], body[data-os-name="Windows"] .item-navigation > button[data-map-type="t-map"],
body[data-os-name="MacOS"] .item-navigation > button[data-map-type="kakao-navi"], body[data-os-name="Windows"] .item-navigation > button[data-map-type="kakao-navi"],
body[data-os-name="Android"] .item-navigation > button[data-map-type="apple-map"], body[data-os-name="Windows"] .item-navigation > button[data-map-type="apple-map"] {
    display: none;
}

.item-navigation > button > img {
    width: 1rem;
    height: 1rem;
}

[data-alert-id] {
    visibility: hidden;
    background: rgba(0, 0, 0, .75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-alert-id].show {
    visibility: visible;
}

[data-alert-id] .alert-header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgb(245, 245, 245);
    transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
}

[data-alert-id]:not([data-scroll="0"]) .alert-header {
    box-shadow: rgba(0, 0, 0, 0.125) 0 0 30px;
}

[data-alert-id]:not([data-scroll]) .alert-header {
    box-shadow: unset;
}

[data-alert-id] .alert-content {
    padding-bottom: 1.25rem;
}

[data-alert-id] > div {
    opacity: 0;
    width: 28rem;
    background: rgb(245, 245, 245);
    border-radius: .5rem;
    position: relative;
    margin: 2rem;
    transition: opacity 0.2s linear;
    max-height: calc(100% - 6rem);
    overflow-y: scroll;
}

[data-alert-id].show > div {
    opacity: 1;
}

[data-alert-id] .alert-close {
    font-size: 1.5rem;
    position: absolute;
    top: .5rem;
    right: .5rem;
    border: 0;
    background: 0;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

[data-alert-id] .alert-close::after {
    content: '×';
}

[data-alert-id] .driver {
    margin: 0 1rem 1rem;
    background: unset;
}

[data-alert-id] .driver::after {
    content: "•  •  •  •  •  •  •";
    color: rgb(198, 204, 212);
    background: unset;
    padding: 0;
    width: fit-content;
    white-space:nowrap
}

[data-alert-id] .driver::before {
    content: "•  •  •  •  •  •  •";
    font-size: .75rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgba(0, 0, 0, 0);
    background: linear-gradient(90deg, rgba(245, 245, 245, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(245, 245, 245, 1) 100%);
    width: fit-content;
    white-space:nowrap
}

body:has([data-alert-id].show) {
    overflow: hidden;
}
